/* Navigation styling  */


nav .nav-wrapper {
    width: 100% !important;
}

.nav-wrapper ul li a
{
  color:#655b5b;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: bold;
}

.nav-wrapper ul li > .active{
    background: #9e9e9e4a;
}

.navbar-default{
    background: #ECE9E6;
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    position: fixed;
    top: 0px;
    z-index: 10;
}

.glyphicon {
    z-index: 10;
}

.container{
    padding-top: 100px;
}

.sidenav-trigger
{
	display: none;
	font-size: 24px;
	padding: 5px;
    color: #655b5b;
    position: fixed;
    top: 10px;
    z-index: 100;
}
.logo-container
{
  float: left;;
  margin: -20px;
  margin-top: -115px;
  padding: 0px 15px;
}
#topnavbar{
    margin-top: -100px;
}
@media (max-width: 765px)
{
    #topnavbar
    {
        display: none;
    }
    .sidenav-trigger
    {
        display: block;
    }
    nav .nav-wrapper
    {
        width: 90% !important;
    }
    .logo-container
    {
        float: right;
    }

    .sidenav li>a {
        text-decoration: none;
    }
    .sidenav li>.active{
        background: #9e9e9e4a;
    }

}