
/* Posts List page */

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .ListHeading
  {
    float: left;
    color: gray;
    margin-top: 2px;
  }
  
  
  /* overwrirting unwanted materialize */
  button:focus {
      outline: none;
      background-color: none !important;
  }
  td {
      padding: 2px;
      border: none !important;
  }
  table {
       border: none !important;
  }
  
  
