/* home page */


.billheading
{
  color: purple;
}
.biillnumber
{
  color: red;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  }

.cardview
{
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0,0,0,.05)  !important;
}

.lighttext
{  
  margin: 2px;
  font-size: 14px;
  line-height: 12px;
  font-weight: lighter;
  cursor: pointer;
  color: gray;
}



.activetab
{
  color:  #44d43b !important;
  background: white !important;
  
}
.tablinks
{
  color: red;
  border-radius: 10px 10px 0 0 ;
  border: 1px solid lightgray;
  outline: none;
  padding: 5px 10px;
  line-height: 22px;
  background: transparent;
}



/* for deliver status */

.margin-area {
  position: relative;
  text-align: center;
  font-family: "Trebuchet", sans-serif;
  font-size: 14px;
  margin: 0 20px;
  height: 90px;
}
.statusicon {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  color: #bbb;
  line-height: 30px;
  z-index: 9999;
  border: 2px solid #44d43b;
  background: white;
  padding: 3px;
  font-size: 20px;
}
 .statusicon.one {
    left: 10%;
    color:#44d43b;
  }
  .statusicon.two {
    left: 50%;
    color: #44d43b;
  }
  .statusicon.three {
    left: 90%;
  }
 
.progress-bar {
  position: absolute;
  height: 21px;
  width: 25%;
  top: 20px;
  left: 12%;
  background: #6fb850;
   width: 70%;
   border-radius: 0 25px 25px 0;
}

  .message1 {
    position: absolute;
    height: 21px;
    top: 20px;
    left: 30%;
    color: white
  }
 .message2 {
    position: absolute;
    height: 21px;
    top: 20px;
    left: 70%;
    color: white
  }

  ul.footer li 
  {
      display: inline;
      list-style-type: none;
      margin: 2px;
  }
  ul.footer li a {
     color: red
  }
  footer p{
    color: purple;
  }

  @media screen and (max-width: 996px)
	{
		.message1 {
    left: 24%;
    font-size: 10px;
   
    }
    .message2 {
      
      left: 64%;
      font-size: 10px;
      
    }
    .margin-area {
      margin: 0 -18px;
    }
    


  }
  @media screen and (max-width: 580px)
	{
   .tablinks
    {
      display: flex;
      width: 100%;
    }
  }




/* Cards page */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  pointer-events: none;
  width: 200px;
  height: 200px;
}

nav.brand-logo
{
  position: relative;

}

.mycard
{
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  box-shadow: 5px 5px 7px rgba(0,0,0,.05)  !important;
  margin: 10px;

}
.mycard:hover
{
  box-shadow: 10px 10px 14px rgba(0,0,0,.1)  !important;	

}
.avtar
{
  border-radius: 50% ;
  width: 100px  ;
  height: 100px  ;
  border-color: #cfdbe2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.08);
  margin-top: 15px;
}

.title
{
  font-weight: normal  ;
  text-align: center  ;
  font-size: 16px  ;
  line-height: 15px  ;
  color: gray;
  margin: 20px;
  height: 40px;
}
.metrics {
  border: 1px solid #ddd;
  border-radius: 17px;
  padding: 5% 10%;
  margin: 2px;
  width: 90% !important;
  float: left;
  font-size: 10px;
  line-height: 12px;
  font-weight: lighter;
  cursor: pointer;
  color: gray;
}

.center
{
  text-align:center;
}
  
.width40
{
  width: 40%;
}

.row { 
		margin-right: 0px !important;
		margin-left: 0px !important;
  }
.delIcon
{
  color: #11a0d191;
  font-size: 20px;
  margin: 7px 10px;
  cursor: pointer;
}

.Loader
{
  display: none;
  position: fixed;
  left: 50%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}


#addbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.sortList
{
  font-size: 20px;
    color: gray;
    padding: 5px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

.addCard
{
  font-size: 40px;
  color: dodgerblue;
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    display: none;
    background: transparent !important; ;
    padding: 0; 
    max-height: 100% !important; 
    width: 100%!important; 
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity; 
}

.EmptyList
{
  text-align: center;
  color: silver;
}

.panel{
  margin-bottom: 0px;
  border-radius: 10px;
}
.navbar-default
{
  background-color: transparent !important;
  border: none;
}


/* Posts List page */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ListHeading
{
  float: left;
  color: gray;
  margin-top: 2px;
}


/* overwrirting unwanted materialize */
button:focus {
    outline: none;
    background-color: none !important;
}
td {
    padding: 2px;
    border: none !important;
}
table {
     border: none !important;
}


  /* toDo page crrently hidden */


.app {
  background: #209cee;
  padding: 30px;
  height: 100vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 60%;
  margin-left: 20%;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}